/* Lemon green ---- #96bf01
White
text color ----- #191919 */

.appointment-header {
  font-size: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.background-of-card {
  border: 2px solid #f5f5f5;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: -100%;
  animation: slide-in 2s forwards;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-image: url(https://res.cloudinary.com/db3ckadxp/image/upload/v1677662695/undraw_booking_sousbo.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: bottom;
  background-size: 12%;
}

.background-of-card:hover {
  border: 2px solid #96bf01;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 400ms ease-in-out;
  transition: border 400ms ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 20%;
  border-radius: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
}

.app-icons {
  color: #96bf01;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.appointments-section {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sub-content {
  display: flex;
}

.appointment-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.patient {
  color: grey;
}

@keyframes slide-in {
  to {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .appointment-header {
    font-size: 3rem;
  }

  .background-of-card {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .background-of-card:hover {
    flex-direction: row;
  }

  .card-image {
    width: 27%;
    border-radius: 5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .content span {
    font-size: 0.8rem;
  }

  .app-icons {
    color: #96bf01;
    font-size: 1.3rem;
  }

  .appointments-section {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sub-content {
    display: flex;
  }

  .appointment-cards {
    width: 35rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
