img.doc-detail-img {
  width: 16rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

div.doc-header p.doc-title {
  color: #6d8b00;
  margin-bottom: 0;
  font-size: 0.7rem;
}

div.icon-div {
  padding: 0.5rem;
  background-color: #96bf011f;
  border-radius: 50%;
  display: flex;
}

svg.line-chart {
  fill: #96bf01;
  font-size: 1.5rem;
}

.text-muted > span:nth-child(2) {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-top: 0.5rem;
}

div.d-flex:nth-child(2) > span:nth-child(2) {
  font-size: 0.8rem;
}

div.doc-card {
  background-color: #96bf0130;
  padding: 1rem;
  border-radius: 2rem;
}

.doc-card > div:nth-child(2) > h2:nth-child(1) {
  font-size: 1.4rem;
}

div.image-sm img {
  width: 6rem;
}

div.about p {
  font-size: 0.95rem;
}

.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.fade-in-fwd {
  -webkit-animation:
    fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s
    both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  img.doc-detail-img {
    width: 17rem;
  }

  div.doc-header p.doc-title {
    font-size: initial;
  }

  div.doc-card {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none !important;
  }

  .text-muted > span:nth-child(2) {
    font-size: 1rem;
    line-height: initial;
    margin-top: initial;
  }

  div.d-flex:nth-child(2) > span:nth-child(2) {
    font-size: initial;
  }

  div.about p {
    font-size: initial;
  }

  div.doc-details-actions button {
    width: initial !important;
  }

  .fade-in-fwd {
    -webkit-animation:
      fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s
      both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  }
}
