/* stylelint-disable csstree/validator */
.doc-content p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.doc-content .name {
  font-size: 0.8rem;
  font-weight: 600;
}

/* .doc-content .contact {
  font-size: 0.7rem;
} */

.doc-img {
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  margin-right: 0.2rem;
}

table tr .doc-profile {
  display: flex;
  align-items: center;
}

/* .doc_container {
  border-radius: 8px;
} */

@media screen and (max-width: 768px) {
  .doc-content p:last-child {
    font-size: 0.8rem;
  }

  .table-header {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 400px) {
  .doc-content .name {
    font-size: 1rem;
  }

  .doc-status,
  .doc-status-data {
    display: revert;
  }
}

@media screen and (min-width: 600px) {
  .doc-content .name {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .doc-section {
    width: 90%;
    margin: auto;
  }

  .doc-img {
    width: 3.3rem;
    padding: 0.1rem 0.6rem;
  }

  /* th.d-none {
    display: initial !important;
  } */
}
