/* span.dot {
  height: 20rem;
  width: 20rem;
  background-color: #96bf011a;
  border-radius: 50%;
  display: inline-block;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
} */

.container {
  position: relative;
}

.dot {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

div.home-img-container {
  text-align: center;
  border-bottom-left-radius: 11rem;
  overflow: hidden;
  border-bottom-right-radius: 11rem;
}

div.home-img-container img {
  width: 17rem;
  height: 24rem;
}

/*
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10rem;
} */

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p,
.dotted {
  font-size: 1rem;
  color: rgb(189, 188, 188);
}

.dotted {
  margin-top: -1rem;
  font-weight: 300;
  font-size: 2rem;
}

.sub-header,
.btm-text {
  font-weight: 500;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

p.btm-text {
  display: -webkit-box;
  width: 13rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  /* span.dot {
    height: 11rem;
    width: 11rem;
  } */
}

@media screen and (min-width: 768px) {
  .doctors-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 1rem;
  }

  section.container {
    padding: 5rem 0;
  }

  /* img {
    width: 85%;
    height: 85%;
  } */

  /* span.dot {
    height: 11rem;
    width: 11rem;
  } */
}
