
/* Lemon green ---- #96bf01
White
text color ----- #191919 */
.nav-bg-color {
  box-shadow: 0 0 3px 2px #ede7e7;
}

.nav-brand-color {
  color: #96bf01;
}

.nav-link {
  color: #191919;
}

.nav-icon {
  color: #96bf01;
}